
/* ----------------------------------------------------------------------------------------------------------------
                                                       FONT
---------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.Roboto{
    font-family: 'Roboto', sans-serif;
}
.Open-sans{
    font-family: 'Open Sans', sans-serif;
}
.Bold{
    font-weight: bold;
}
.Font-red{
    color: #c23616;
}
.Font-white{
    color: #ffffff;
}
.Text-align{
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------------
                                                       Background
---------------------------------------------------------------------------------------------------------------- */
.Background-asbesto{
    background-color: #7f8c8d;
}
.Background-blue{
    background-color: #2980b9;
}
/* ----------------------------------------------------------------------------------------------------------------
                                                       Container
---------------------------------------------------------------------------------------------------------------- */

.Flex-column{
    display: flex;
    flex-direction: column;
}
.Flex-row{
    display: flex;
    flex-direction: row;
}
.Align-center{
    align-items: center;
}
.Justify-center{
    justify-content: center;
}

/* ----------------------------------------------------------------------------------------------------------------
                                                       Image perso
---------------------------------------------------------------------------------------------------------------- */

.Cadre-image{
    width: 100px;  
    position: absolute;
    top: 10px;
    
}

/* ----------------------------------------------------------------------------------------------------------------
                                                       Section rightBar
---------------------------------------------------------------------------------------------------------------- */
